

<div class="left">
  <h2> Login to your account </h2>
  <form action="/users/login" method="POST">
    <label>Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label>Password:</label>
    <input type="text" name="password" id="password"><br><br>
    <input type="submit" class="fbutton" id="submit" name="submit" value="Login">
  </form>
</div>

<div class="right">
    <h2>Please note...</h2>
    <h4> Please use "Signup" if you are a new user. </h4>
  <% if flash.has?(:message) %>
    <div id="messages">
      <% if flash[:message].kind_of?(Array) %>
        <% flash[:message].each do |message| %>
        <%= message %><br>
        <% end %>
      <% else %>
        <%= flash[:message] %>
      <% end %>
      <%= flash[:message] = nil %>
    </div>
  <% end %>
</div>
