

<h1> Login to your account </h1>

<form action="/users/login" method="POST">
  <label>Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label>Password:</label>
  <input type="text" name="password" id="password"><br><br>
  <input type="submit" id="submit" name="submit" value="Login">
</form>
