<div class="left">
  <h2> Edit a contact </h2>

  <form action="<%= "/contacts/#{@contact.id}/" %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
    <input type="text" id="first_name" name="first_name">
    <input type="text" name="last_initial" id="last_initial">
    <input type="submit" class="fbutton" id="submit" name="submit" value="Create Contact">
  </form>
</div>

<div class="right">
  <h2>Fancypants way!</h2>
  <h3>Explanation</h3>
</div>
