<div class="left">
  <h2> Create a new contact </h2>

  <form id="new" action="/contacts" method="POST">
    <label>First Name:</label>
    <input type="text" id="first_name" name="first_name" required><br><br>
    <label>Last Initial:</label>
    <input type="text" name="last_initial" id="last_initial" required><br><br>
    <label>Photo Url (optional):</label>
    <input type="text" name="photo" id="photo"><br><br>
    <label>Facts:</label>
    <textarea name="facts" id="facts" form="new" placeholder="Please use this format: [topic]information + [topic]information + [topic]information"></textarea><br><br>
    <input type="submit" class="fbutton" id="submit" name="submit" value="Create Contact">
  </form>
</div>

<div class="right">
  <h2> Please note </h2>
    <p> Facts must be entered in the following format:<br> <br> <strong>[topic]information, [topic]information, [topic]information</strong>
    <br><br>Example:[hometown]osaka, [favorite_food]pizza, and so on.</p>

    <p>To avoid duplicate contact names, feel free to use middle initial if needed, such as <strong>"Madeline EM"</strong></p>
    <% if flash.has?(:message) %>
      <div class="messages">
        <% if flash[:message].kind_of?(Array) %>
          <% flash[:message].each do |message| %>
          <b><%= message %><br></b>
          <% end %>
        <% else %>
            <b><%= flash[:message] %></b>
        <% end %>
        <%= flash[:message] = nil %>
      </div>
    <% end %>
</div>
