
<% if flash.has?(:message) %>
  <div id="messages">
    <%= flash[:message] %>
  </div>
<% end %>

<h1> Create a new contact </h1>

<form action="/contacts" method="POST">
  <label>First Name:</label>
  <input type="text" id="first_name" name="first_name"><br><br>
  <label>Last Initial:</label>
  <input type="text" name="last_initial" id="last_initial"><br><br>
  <input type="submit" id="submit" name="submit" value="Create Contact">
</form>
