<div class="left">
  <h2> Create a new contact </h2>

  <form id="new" action="/contacts" method="POST">
    <label>First Name:</label>
    <input type="text" id="first_name" name="first_name"><br><br>
    <label>Last Initial:</label>
    <input type="text" name="last_initial" id="last_initial"><br><br>
    <label>Facts:</label>
    <textarea name="facts" id="facts" form="new" placeholder="please use this format: [topic]information, [topic]information, [topic]information"></textarea><br><br>
    <input type="submit" class="fbutton" id="submit" name="submit" value="Create Contact">
  </form>
</div>

<div class="right">
  <% if flash.has?(:message) %>
    <div id="messages">
      <% if flash[:message].kind_of?(Array) %>
        <% flash[:message].each do |message| %>
        <%= message %><br>
        <% end %>
      <% else %>
        <%= flash[:message] %>
      <% end %>
      <%= flash[:message] = nil %>
    </div>
  <% end %>

  <h2> Please note </h2>
    <p> Facts must be entered in the following format:<br> <br> <u>[topic]information, [topic]information, [topic]information</u>
    <br><br><u>Example:</u> [hometown]osaka, [favorite_food]pizza, and so on.</p>

    <p> Sometimes people have the same first & last name.<br>
      To avoid duplicate contact names, feel free to use middle initial too.<br>
    <u>Example:</u> Madeline EM</p>
</div>
