<h1> Create a new contact </h1>

<form action="/contacts" method="POST">
  <input type="text" id="first_name" name="first_name">
  <input type="text" name="last_initial" id="last_initial">
  <input type="submit" id="submit" name="submit" value="Create Contact">
</form>
