<div class="left">
  <h2> Create a new contact </h2>

  <form action="/contacts" method="POST">
    <label>First Name:</label>
    <input type="text" id="first_name" name="first_name"><br><br>
    <label>Last Initial:</label>
    <input type="text" name="last_initial" id="last_initial"><br><br>
    <input type="submit" class="fbutton" id="submit" name="submit" value="Create Contact">
  </form>
</div>

<div class="right">
  <% if flash.has?(:message) %>
    <div id="messages">
      <% if flash[:message].kind_of?(Array) %>
        <% flash[:message].each do |message| %>
        <%= message %><br>
        <% end %>
      <% else %>
        <%= flash[:message] %>
      <% end %>
      <%= flash[:message] = nil %>
    </div>
  <% end %>

  <h2> Please note </h2>
    <p> Silhouette will not let you create duplicate contacts </p>
    <p> Please choose a unique name/last initial. In the rare case that two individuals share both,
      feel free to use middle initial too (Example: EM - so Madeline EM).</p>
</div>
