<div class="left">
  Can I put it all on one page?
</div>

<div class="right">
  <h2> Dig Deep </h2>
  <% if @contact %>
    <p><%= "Full name: #{@contact.full_name}" %></p>
    <% @contact.facts.each do |fact| %>
      <p><%= "#{fact.topic.gsub("_", " ").capitalize}: #{fact.information.capitalize}" %></p>
    <% end %>
  <% end %>
</div>
