
<div class="left">
  <div class="pad">
    <h2> Welcome to silhouette</h2>
    <h3> Silhouette is an app designed to help you remember basic facts about people. </h3>
    <p>Some of us are in business. Others have international friends. Perhaps you are a teacher.</p>
    <p>Whatever your story is, we know it's hard to remember <i>other's</i> stories.</p>
    <p><strong>Enter silhouette.</strong></p>
  </div>
</div>

<div class="right">
  <h2> Updating just got simpler </h2>
    <img class="profile ring" src="<%= url('/images/img_casey.png') %>">
</div>
