<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One" rel="stylesheet">
    <title> silhouette </title>
  </head>
  <body>
    <div class="container">
      <header><h1> silhouette </h1></header>

      <nav> <a href="/users/login">Login</a> || <a href="/users/new">Signup</a> || <a href="/contacts/new"> Document </a> || <a href="/contacts">Illuminate</a> || <a href="/users/logout">Logout</a> </nav>
      <%= yield %>
    </div>
  </body>
  </html>
