<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> silhouette </title>
    <link href="<%= url('/css/style.css') %>" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Cantata+One|Raleway" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <header><a href="/"><h1> silhouette </h1><img src="<%= url('/images/silhouette1.png') %>"></a></header>

      <nav> <button class="nav"><a href="/users/login">Login</a></button>  <button class="nav"><a href="/users/new">Signup</a></button> <button class="nav"><a href="/contacts/new">New Contact</a></button> <button class="nav"><a href="/">Coming Soon</a></button> <button class="nav"><a href="/contacts">Illuminate</a></button> <button class="nav"><a href="/users/logout">Logout</a></nav></button>
        <%= yield %>
    </div>
  </body>
  </html>
